{% extends 'user/base.html' %}
{% load staticfiles %}
{% block base_extra_head %}
    {% load templatehelpers %}
    <style>
        .left_w { font-weight: bold; height: 30px;border: white 1px solid;background-color: #E2F0D9;padding-left: 10px;padding-right: 10px;margin-right: 5px; display: inline-block;}
        #filter_details {padding-left: 10px;padding-right: 10px;}
        .region_detail_hidden {width: 100%;display: none;z-index: 50;position: absolute;top: 86px;display: none;background-color: #E2F0D9; max-width: 1200px;}
        .table2 {display: none;}
        .region_detail_hidden_inner {position: relative;width: 100%;}
        .region_detail_hidden_inner > .container {padding: 15px 15px;}
        .lesson_form_title {margin-top: 12px;}
        .lesson_form_body {padding-top: 5px;}
        .lesson_form_contents {background-color: #F4F3D9;padding: 5px 5px;margin: 5px;}
        #region_indicator {width: 100%;min-height: 15px;}
        .badge-dailympic {background-color: #A9D18E;color: white;margin: 4px 7px;padding: 5px 5px 5px 5px;}
        .badge-dailympic-dark {background-color: #385723;color: white;margin: 4px 7px;padding: 5px 5px 5px 5px;}
        .active {background-color: #A9D18E;}
        .lesson_form_title {font-weight: bold;}
        .list-group-item a {text-decoration: none;color: black;}
    </style>
{% endblock %}
{% block maincontent %}

    <div>
        <div id="filter_details"  class="d-flex justify-content-between text-center">
            <div class="d-flex text-center">
                <div class="left_w" id="sports_lists">스포츠</div>
                <div class="left_w" id="region_detail">지역</div>
                <div class="left_w" id="lesson_form">유형</div>
            </div>
            <div id="lesson_form_detail" class="badge badge-dailympic"><i class="fa fa-bars"></i></div>
        </div>
    </div>

    <div class="region_detail_hidden sports_lists_hidden">
        <form class="region_detail_hidden_inner">
            <div class="container">
                <div class="lesson_form_title">
                    스포츠 목록
                </div>
                <div class="lesson_form_body">
                    {% for sport in sports %}
                        <div class="lesson_form_contents sports_detail_ {% if sport.id|sport_active:clicked_sport == sport.id %}active{% endif %}" style="float: left;">
                            <input type="hidden" value="{{ sport.id }}">
                            {{ sport.name }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </form>
    </div>

    <div class="region_detail_hidden region_detail_hidden1">
        <form class="region_detail_hidden_inner" id="region_detail_hidden_inner">
            <div class="d-flex" style="max-height: 70vh; overflow: auto;">
                <div style="width: 50%;">
                    <table class="table table1">
                        {% for b_district in districts %}
                            <tr>
                                <td>{{ b_district.name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div style="width: 50%;">
                    {% for b_districts in districts %}
                        <table class="table table2">
                            {% for small_district in b_districts.small_districts.all %}
                                <tr {% if small_district.id|district_active:clicked_region == small_district.id %}class="active"{% endif %}>
                                    <input type="hidden" value="{{ small_district.id }}">
                                    <td>{{ small_district.name }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endfor %}
                </div>
            </div>
        </form>
    </div>

    <div class="region_detail_hidden lesson_form_hidden">
        <form class="region_detail_hidden_inner" id="lesson_form_hidden_inner">
            <div class="container">
                <div class="lesson_form_title">
                    체험형
                </div>
                <div class="lesson_form_body lesson_types d-flex lesson_types_find">
                    {% for t in trial_lesson_types %}
                        <div class="lesson_form_contents {% if t.id|type_active:clicked_type == t.id %}active{% endif %}">
                            <input type="hidden" value="{{ t.pk }}">
                            {{ t.name }}
                        </div>
                    {% endfor %}
                </div>
                <div class="lesson_form_title">
                    레슨형
                </div>
                <div class="lesson_form_body lesson_types row pl-3 lesson_types_find">
                    {% for t in regular_lesson_types %}
                        <div class="lesson_form_contents {% if t.id|type_active:clicked_type == t.id %}active{% endif %}">
                            <input type="hidden" value="{{ t.pk }}">
                            {{ t.name }}
                        </div>
                    {% endfor %}
                </div>
                <div class="lesson_form_title">
                    횟수
                </div>
                <div class="lesson_form_body lesson_frequencies">
                    {% for wf in week_frequencies %}
                        <div class="lesson_form_contents {% if wf.freq|frequency_active:clicked_week_frequency == wf.freq %}active{% endif %}" style="float: left;">
                            <input type="hidden" value="{{ wf.freq }}">
                            {{ wf.displayed_as }}
                        </div>
                    {% endfor %}

                </div>
            </div>
        </form>
    </div>

    <div class="region_detail_hidden lesson_form_detail_hidden">
        <form class="region_detail_hidden_inner">
            <div class="container">
                <div class="lesson_form_title">
                    정렬
                </div>
                <div class="lesson_form_body d-flex">
                    <div class="lesson_form_contents lesson_form__ {% if clicked_order.0 == '추천순' %}active{% endif %}">
                        추천순
                    </div>
                    <div class="lesson_form_contents lesson_form__ {% if clicked_order.0 == '최신순' %}active{% endif %}">
                        최신순
                    </div>
                </div>
                <div class="lesson_form_title">
                    가격
                </div>
                <div class="lesson_form_body d-flex">
                    <div class="lesson_form_contents lesson_form__ {% if clicked_order.0 == '가격 낮은 순' %}active{% endif %}">
                        가격 낮은 순
                    </div>
                    <div class="lesson_form_contents lesson_form__ {% if clicked_order.0 == '가격 높은 순' %}active{% endif %}">
                        가격 높은 순
                    </div>
                </div>
                <div class="lesson_form_title">
                    평점
                </div>
                <div class="lesson_form_body d-flex">
                    <div class="lesson_form_contents lesson_form__ {% if clicked_order.0 == '평점 낮은 순' %}active{% endif %}">
                        평점 낮은 순
                    </div>
                    <div class="lesson_form_contents lesson_form__ {% if clicked_order.0 == '평점 높은 순' %}active{% endif %}">
                        평점 높은 순
                    </div>
                </div>
            </div>
        </form>
    </div>

    <section class="my-1">
        <table>
            <tr id="filter_badge">
                {% if not clicked_sport.0 == '' %}
                    {% for c in clicked_sport %}
                        <td class="badge badge-dailympic sports-badge">
                            {{ c|clicked_sports }} <i class="fa fa-remove"></i>
                            <input type="hidden" value="{{ c|sports_id }}">
                        </td>
                    {% endfor %}
                {% endif %}

                {% if not clicked_region.0 == '' %}
                    {% for c in clicked_region %}
                        <td class="badge badge-dailympic region-badge">
                            {{ c|clicked_region }}<i class="fa fa-remove"></i>
                            <input type="hidden" value="{{ c|region_id }}">
                        </td>
                    {% endfor %}
                {% endif %}
                {% if not clicked_type.0 == '' %}
                    {% for c in clicked_type %}
                        <td class="badge badge-dailympic type-badge">
                            {{ c|clicked_type }}<i class="fa fa-remove"></i>
                            <input type="hidden" value="{{ c|type_id }}">
                        </td>
                    {% endfor %}
                {% endif %}
                {% if not clicked_week_frequency.0 == '' %}
                    {% for c in clicked_week_frequency %}
                        <td class="badge badge-dailympic frequency-badge">
                            {{ c|clicked_week_frequency }}<i class="fa fa-remove"></i>
                            <input type="hidden" value="{{ c|frequency_id }}">
                        </td>
                    {% endfor %}
                {% endif %}
            </tr>
        </table>
    </section>

    <section class="w-100 my-3">
        <div class="row w-100 mx-0 px-2">
            {% if lessons %}
                {% for lesson in lessons %}
                    <a href="{% url 'lesson_detail' lesson.id %}" class="card col-lg-4 col-md-6 col-sm-6 col-6" style="text-decoration: none; color: black;">
                        <div>
                            <img src="{{ lesson.lessonimage_set.first.image.url }}" class="card-img-top" alt="..">
                            <div class="card-body">
                                <h5 class="card-title">{{ lesson.title }}</h5>
                                <p class="card-text" style="
                                white-space: normal; line-height: 1.2; height: 3.6em; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;
                                display: inline-block; width: 100%; overflow: hidden; text-overflow: ellipsis;">{{ lesson.description }}</p>
                                {% if  not lesson.dc_price or lesson.dc_price == 0 %}
                                    <h5 class="card-title">{{ lesson.org_price }}원</h5>
                                {% else %}
                                    <h5 class="card-title">{{ lesson.dc_price }}원 <small>{{ lesson.org_price }}원</small></h5>
                                {% endif %}
                                <div class="d-flex justify-content-between">
                                    <div><i style="color: #ffc700;" class="fa fa-star"></i><span>  {{ lesson.rating }}</span></div>
                                    <div class="badge badge-dailympic-dark">{{ lesson.academy.small_district.big_district }}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <h5 class="mx-3">조건을 만족하는 레슨이 없습니다</h5>
            {% endif %}
        </div>
    </section>
{% endblock %}
{% block base_extra_script %}
    <script>
        $(document).ready(function () {
            $('.table2 tr').on('click', function () {
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                    give_request();
                    return false;
                }
                $(this).addClass('active');
                give_request();
            });
            $('.table1 tr').on('click', function () {
                try {
                    $(this).siblings('tr').removeClass('active')
                    $(this).addClass('active');
                } catch {
                    $(this).addClass('active');
                }
                $('.table2').hide();
                var idx = $(".table1 tr").index(this);
                $('.table2').eq(idx).show();
            });

            $('#sports_lists').on('click', function () {
                if ($(this).siblings().hasClass('active')) {
                    $(this).siblings().removeClass('active');
                    $('.region_detail_hidden').hide();
                }
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                    $('.sports_lists_hidden').fadeOut(200);
                    return false;
                }
                $('.sports_lists_hidden').fadeIn(200);
                $(this).addClass('active');
            });

            $('#region_detail').on('click', function () {
                if ($(this).siblings().hasClass('active')) {
                    $(this).siblings().removeClass('active');
                    $('.region_detail_hidden').hide();
                }
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                    $('.region_detail_hidden1').fadeOut(200);
                    return false;
                }
                $('.region_detail_hidden1').fadeIn(200);
                $(this).addClass('active');
            });

            $('#lesson_form').on('click', function () {
                if ($(this).siblings().hasClass('active')) {
                    $(this).siblings().removeClass('active');
                    $('.region_detail_hidden').hide();
                }
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                    $('.lesson_form_hidden').fadeOut(200);
                    return false;
                }
                $('.lesson_form_hidden').fadeIn(200);
                $(this).addClass('active');
            });

            $('#lesson_form_detail').on('click', function () {
                if ($(this).siblings().hasClass('active')) {
                    $(this).siblings().removeClass('active');
                    $('.region_detail_hidden').hide();
                }
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                    $('.lesson_form_detail_hidden').fadeOut(200);
                    return false;
                }
                $('.lesson_form_detail_hidden').fadeIn(200);
                $(this).addClass('active');
            });

            $('.lesson_form_contents').on('click', function () {
                var jthis = $(this);
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                    give_request();
                } else {
                    if (jthis.hasClass('sports_detail_')){
                        $('.sports_detail_').removeClass('active');
                    }
                    if (jthis.hasClass('lesson_form__')){
                        $('.lesson_form__').removeClass('active');
                    }
                    jthis.addClass('active');
                    give_request();
                }
            });

            setTimeout(function () {
                $('.table1 tr').first().click();
            }, 200);
        });

        $('.sports-badge').on('click', function () {
            var sports_id = $(this).find('input').val();
            $('.sports_lists_hidden .active').each(function () {
                    var sports = $(this).find('input').val();
                    if (sports === sports_id) {
                        $(this).removeClass('active');
                    }
                }
            );
            give_request();
        });

        $('.region-badge').on('click', function () {
            var region_id = $(this).find('input').val();
            $('#region_detail_hidden_inner .table2 .active').each(function () {
                    var regions = $(this).find('input').val();
                    if (regions === region_id) {
                        $(this).removeClass('active');
                    }
                }
            );
            give_request();
        });

        $('.type-badge').on('click', function () {
            var type_id = $(this).find('input').val();
            $('.lesson_types_find .active').each(function () {
                    var types = $(this).find('input').val();
                    if (types === type_id) {
                        $(this).removeClass('active');
                    }
                }
            );
            give_request();
        });

        $('.frequency-badge').on('click', function () {
            var frequency_id = $(this).find('input').val();
            $('.lesson_frequencies .active').each(function () {
                    var frequencies = $(this).find('input').val();
                    if (frequencies === frequency_id) {
                        $(this).removeClass('active');
                    }
                }
            );
            give_request();
        });

        function give_request () {
            var region = [];
            var type = [];
            var order = [];
            var week_frequency = [];
            var sport = [];
            $('.sports_lists_hidden .active').each(function () {
                    var sports = $(this).find('input').val();
                    sport.push(sports);
                }
            );
            $('#region_detail_hidden_inner .table2 .active').each(function () {
                    var regions = $(this).find('input').val();
                    region.push(regions);
                }
            );
            $('.lesson_types_find .active').each(function () {
                    var types = $(this).find('input').val();
                    type.push(types);
                }
            );
            $('.lesson_frequencies .active').each(function () {
                    var frequency = $(this).find('input').val();
                    week_frequency.push(frequency);
                }
            );
            $('.lesson_form_detail_hidden .active').each(function () {
                    var orders = $(this).html().trim();
                    order.push(orders);
                }
            );
            $('#hidden_is_search').val(false);
            $('#hidden_region').val(region);
            $('#hidden_type').val(type);
            $('#hidden_sports_lists').val(sport)
            $('#hidden_order').val(order);
            $('#hidden_week_frequency').val(week_frequency);
            $('#hidden_form').submit();
        }

        function give_request () {
            var region = [];
            var type = [];
            var order = [];
            var week_frequency = [];
            var sport = [];
            $('.sports_lists_hidden .active').each(function () {
                    var sports = $(this).find('input').val();
                    sport.push(sports);
                }
            );
            $('#region_detail_hidden_inner .table2 .active').each(function () {
                    var regions = $(this).find('input').val();
                    region.push(regions);
                }
            );
            $('.lesson_types_find .active').each(function () {
                    var types = $(this).find('input').val();
                    type.push(types);
                }
            );
            $('.lesson_frequencies .active').each(function () {
                    var frequency = $(this).find('input').val();
                    week_frequency.push(frequency);
                }
            );
            $('.lesson_form_detail_hidden .active').each(function () {
                    var orders = $(this).html().trim();
                    order.push(orders);
                }
            );
            $('#hidden_is_search').val(false);
            $('#hidden_region').val(region);
            $('#hidden_type').val(type);
            $('#hidden_sports_lists').val(sport)
            $('#hidden_order').val(order);
            $('#hidden_week_frequency').val(week_frequency);
            $('#hidden_form').submit();
        }
        {% if request.user.is_authenticated and not request.user.profile %}
            alert('소셜 계정으로 가입하셔서 미기입된 정보가 있습니다.' +
                '추가 정보를 입력하여 주시기 바랍니다.');location.href="{% url 'profile_create' %}";
        {% endif %}
    </script>
{% endblock %}