{% extends 'user/base.html' %}
{% load staticfiles %}
{% block base_extra_head %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <style>
        a {color: black; text-decoration: none;}
        a:hover {color: black;}
        .swiper-container {width: 100%; height: 30vh;}
        .swiper-slide { text-align: center; font-size: 18px; background: #fff; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;}
        .lesson_title { text-decoration: underline; font-weight: bold; margin-left: 10px; margin-top: 7px; }
        .class_info { background-color: white; top: 50px; padding: 5px 10px; z-index: 10000; display: flex; overflow-x: auto; height: 30px; -webkit-overflow-scrolling: touch;}
        .slide { flex-shrink: 0; height: 30px; }
        .sticky { position: fixed; top: 0; background-color: white; padding: 5px 10px; z-index: 10000; display: flex; overflow-x: auto; height: 30px; -webkit-overflow-scrolling: touch;}
        .margin-container { margin-top: 34px; }
        hr { margin-top: 10px; margin-bottom: 10px; }
        #myInput {position: absolute; top: 0;left:0;width:1px;height:1px;margin:0;padding:0;border:0;}
        .modal-content {top: 40px;}
        *{
            margin: 0;
            padding: 0;
        }
        .rate {
            float: left;
            height: 46px;
            padding: 0 10px;
        }
        .rate:not(:checked) > input {
            position:absolute;
            top:-9999px;
        }
        .rate:not(:checked) > label {
            float:right;
            width:1em;
            overflow:hidden;
            white-space:nowrap;
            cursor:pointer;
            font-size:30px;
            color:#ccc;
        }
        .rate:not(:checked) > label:before {
            content: '★ ';
        }
        .rate > input:checked ~ label {
            color: #ffc700;
        }
        .rate:not(:checked) > label:hover,
        .rate:not(:checked) > label:hover ~ label {
            color: #deb217;
        }
        .rate > input:checked + label:hover,
        .rate > input:checked + label:hover ~ label,
        .rate > input:checked ~ label:hover,
        .rate > input:checked ~ label:hover ~ label,
        .rate > label:hover ~ input:checked ~ label {
            color: #c59b08;
        }
    </style>
{% endblock %}
{% block maincontent %}
    <div>
        <div id="class_info" class="class_info">
            <a href="#overview" class="slide mr-3">Overview</a>|
            <a href="#coach" class="slide mx-3">코치</a>|
            <a href="#program-detail" class="slide mx-3">상세 소개</a>|
            <a href="#company" class="slide mx-3">업체정보</a>|
            <a href="#review" class="slide mx-3">후기</a>|
            <a href="#location" class="slide mx-3">위치</a>|
            <a href="#sns" class="slide ml-3">Contact</a>
        </div>
        <div class="swiper-container" id="swiper">
            <div class="swiper-wrapper">
                {% for images in lesson.lessonimage_set.all %}
                    <div class="swiper-slide"><a href=""><img src="{{ images.image.url }}" alt="" class="img-fluid"></a></div>
                {% endfor %}
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next" style="color: #699A3C;"></div>
            <div class="swiper-button-prev" style="color: #699A3C;"></div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <div id="share_button" class="d-flex" style="position: absolute; top: 100px; right: 10px; z-index: 10000;">
            <button id = "ShareUrl" type="button" style="border: none; background-color: rgba(0,0,0,0);" onclick="copyUrl()">
                <input type="text" value="" id="myInput">
                <i class="fa fa-share mr-2" style="font-size: 25px;"></i>
            </button>
            <i class="fa {% if likes == False %}fa-heart-o{% else %}fa-heart{% endif %} mr-1" style="font-size: 25px;" id="heart-icon"></i>
        </div>
        <div id="overview">
            <h5 class="lesson_title">Overview</h5>
            <div class="d-flex">
                <div style="width: 30%;" class="p-3">
                    {% if lesson.academy.profile_image %}
                        <img src="{{ lesson.academy.profile_image.url }}" alt="" class="img-fluid">
                    {% else %}
                        <span class="mt-3">이미지 준비중입니다</span>
                    {% endif %}
                </div>
                <div style="width: 70%;">
                    <div style="width: 100%; padding-left: 20px; padding-right: 20px; background-color: #E2F0D9;">
                        <span>"</span><span>{{ lesson.introduction }}</span><span>"</span>
                    </div>
                    <div>
                        <div class="title d-flex my-1">
                            <div style="width: 30%; font-weight: bold;">
                                주종
                            </div>
                            <div style="width: 70%;">
                                <span class="px-2" style="cursor: pointer; display: inline-block; background-color: #699A3C; color: white; font-weight: bold;">{{ lesson.academy.sport.name }}</span>
                            </div>
                        </div>
                        <div class="title d-flex my-1">
                            <div style="width: 30%; font-weight: bold;">
                                프로그램
                            </div>
                            <div style="width: 70%;">
                                <span class="px-2" style="cursor: pointer; display: inline-block; background-color: #699A3C; color: white; font-weight: bold;">{{ lesson.get_lesson_type_display }}</span>
                            </div>
                        </div>
                        <div class="title d-flex my-1">
                            <div style="width: 30%; font-weight: bold;">
                                위치
                            </div>
                            <div style="width: 70%;">
                                <span class="px-2" style="cursor: pointer; display: inline-block; background-color: #699A3C; color: white; font-weight: bold;">{{ lesson.academy.address }}</span>
                            </div>
                        </div>
                        <div class="title d-flex">
                            <div style="width: 30%; font-weight: bold;">
                                가격
                            </div>
                            <div style="width: 70%;">
                                <span>{{ lesson.dc_price }}원 </span><small style="text-decoration: line-through;">{{ lesson.org_price }}원</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div id="coach">
            <h5 class="lesson_title">Coach</h5>
            <div class="d-flex">
                <div style="width: 30%;" class="p-3">
                    {% if lesson.coach.image %}
                        <img src="{{ lesson.coach.image.url }}" alt="" class="img-fluid">
                    {% else %}
                        이미지 준비중입니다
                    {% endif %}
                </div>
                <div style="width: 70%;" class="px-2">
                    <div style="width: 100%;">
                        <span style="font-weight: bold; color: deepskyblue; font-size: 20px;">박상영</span><span> 코치</span>
                    </div>
                    <div>
                        <div style="font-weight: bold;">경력</div>
                        {% if lesson.coach.career %}
                            <div>{{ lesson.coach.career|safe }}</div>
                        {% else %}
                            <div>등록된 경력이 없습니다</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="px-3">
                <div style="font-weight: bold;">자기소개</div>
                <div>
                    {{ lesson.coach.introduction }}
                </div>
            </div>
        </div>
        <hr>
        <div id="program-detail">
            <h5 class="lesson_title">프로그램</h5>
            <div class="d-flex px-3">
                <div style="background-color: #E2F0D9;" class="p-1">{{ lesson.get_lesson_type_display }}</div>
            </div>
            <div class="px-3 mt-1">
                {{ lesson.description|safe }}
            </div>
            <div class="px-3 mt-1">
                <h6 style="font-weight: bold;">시간</h6>
                <div>{{ lesson.lesson_time|safe }}</div>
            </div>
        </div>
        <hr>
        <div id="company">
            <h5 class="lesson_title">업체 소개</h5>
            <div class="d-flex px-3">
                <div style="width: 30%; font-weight: bold;">업체 이름: </div><div style="width: 70%;">{{ lesson.academy.name }}</div>
            </div>
            <div class="d-flex px-3">
                <div style="width: 30%; font-weight: bold;">업체 정보: </div><div style="width: 70%;">{{ lesson.academy.introduction|safe }}</div>
            </div>
            <div class="mt-2 px-3" style="font-weight: bold;">업체 운영시간</div>
            <div class="px-3 mt-1">{{ lesson.academy.operation_time|safe }}</div>
        </div>
        <hr>

        <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModal" aria-hidden="true">
            <form class="modal-dialog" method="post" id="review_form">
                {% csrf_token %}
                <input type="hidden" value="1" name="submit_type">
                <input type="hidden" value="" name="review_id">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reviewTitle">리뷰 작성하기</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex form-group">
                            <div style="width: 30%;">
                                평점
                            </div>
                            <div class="rate">
                                <input type="radio" id="star5" name="rates" value="5" />
                                <label for="star5" title="text">5 stars</label>
                                <input type="radio" id="star4" name="rates" value="4" />
                                <label for="star4" title="text">4 stars</label>
                                <input type="radio" id="star3" name="rates" value="3" />
                                <label for="star3" title="text">3 stars</label>
                                <input type="radio" id="star2" name="rates" value="2" />
                                <label for="star2" title="text">2 stars</label>
                                <input type="radio" id="star1" name="rates" value="1" />
                                <label for="star1" title="text">1 star</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">내용</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment" required autofocus></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <button type="submit" class="btn btn-success" id="review_form_button">작성하기</button>
                    </div>
                </div>
            </form>
        </div>

        <div id="review">
            <h5 class="lesson_title">후기</h5>
            {% if request.user.is_authenticated %}
                <div class="px-3" style="width: 100%;">
                    <button class="btn btn-success w-100" id="review_write_button" data-toggle="modal" data-target="#reviewModal">후기 작성하기</button>
                </div>
            {% endif %}
            {% for review in reviews %}
                <hr>
                <div class="review_div">
                    <div class="d-flex">
                        <div style="width: 30%;" class="p-3">
                            {% if review.written_by.user.profile.image %}
                                <img src="{{ review.written_by.user.profile.image.url }}" alt="" class="img-fluid rounded">
                            {% else %}
                                이미지가 없습니다
                            {% endif %}
                        </div>
                        <div style="width: 70%;" class="p-3">
                            <div>
                                <div style="font-weight: bold;" class="px-2">{{ review.written_by.username }}</div>
                                <div class="rate" style="font-weight: bold;">
                                    {% load templatehelpers %}
                                    {% for i in review.rating|times %}
                                        <span><i class="fa fa-star" style="color: #deb217;"></i></span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-3 review_content">{{ review.comment }}</div>
                    {% if request.user == review.written_by %}
                        <div class="w-100 d-flex flex-row-reverse">
                            <input type="hidden" value="{{ review.id }}" />
                            <button class="btn btn-sm btn-danger mx-1 review_delete" type="button">삭제하기</button>
                            <button class="btn btn-sm btn-info review_update" type="button" value="{{ review.id }}">수정하기</button>
                        </div>
                    {% endif %}
                </div>
                <hr>
            {% endfor %}
            <div class="px-3 text-center" style="width: 100%;">
                {% if reviews.has_other_pages %}
                    <div style="text-align: center;">
                        <ul class="pagination d-flex justify-content-center ">
                            {% if reviews.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ reviews.previous_page_number }}/#review">&laquo;</a></li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link" >&laquo;</span></li>
                            {% endif %}
                            {% for i in reviews.paginator.page_range %}
                                {% if reviews.number == i %}
                                    <li class="page-item active"><span class="page-link" >{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link"  href="?page={{ i }}/#review">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if reviews.has_next %}
                                <li class="page-item"><a class="page-link"  href="?page={{ reviews.next_page_number }}/#review">&raquo;</a></li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link" >&raquo;</span></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        <hr>
        <div id="location">
            <h5 class="lesson_title">위치</h5>
            <div class="px-3">서울특별시 마포구 토정로 16길 19</div>
            <div class="px-3">
                <div id="map" style="width:100%; height:200px;"></div>
            </div>
        </div>
        <hr>
        <div id="sns" class="mb-4">
            <h5 class="lesson_title">바로가기</h5>
            <div class="px-3" style="font-weight: bold;">업체 주소</div>
            {% if lesson.academy.phone %}
                <div class="phone px-4"><span><i class="fa fa-phone"></i></span> <span onclick="location.href='tel:{{ lesson.academy.phone }}'">{{ lesson.academy.phone }}</span></div>
            {% endif %}
            {% if lesson.academy.instagram %}
                <div class="instagram px-4"><span><i class="fa fa-instagram"></i>  </span><span><a href="{{ lesson.academy.instagram }}">{{ lesson.academy.instagram }}</a></span></div>
            {% endif %}
            {% if lesson.academy.facebook %}
                <div class="facebook px-4"><span><i class="fa fa-facebook-square"></i>  </span><span><a href="{{ lesson.academy.facebook }}">{{ lesson.academy.facebook }}</a></span></div>
            {% endif %}
            {% if lesson.academy.website %}
                <div class="naver-cafe px-4"><span><img src="{% static 'img/naver.png' %}" alt="" style="width: 14px;">  </span><span><a
                        href="{{ lesson.academy.website }}">{{ lesson.academy.website }}</a></span></div>
            {% endif %}
            {% if lesson.academy.email %}
                <div class="email px-4"><span><i class="fa fa-send"></i></span><span onclick="location.href='mailto:{{ lesson.academy.email }}'">{{ lesson.academy.email }}</span></div>
            {% endif %}
            <div class="px-3 mt-2" style="font-weight: bold;">코치 주소</div>
            {% if lesson.coach.phone %}
                <div class="phone px-4"><span><i class="fa fa-phone"></i></span> <span onclick="location.href='tel:{{ lesson.coach.phone }}'">{{ lesson.coach.phone }}</span></div>
            {% endif %}
            {% if lesson.coach.instagram %}
                <div class="instagram px-4"><span><i class="fa fa-instagram"></i>  </span><span><a href="{{ lesson.coach.instagram }}">{{ lesson.coach.instagram }}</a></span></div>
            {% endif %}
            {% if lesson.coach.facebook %}
                <div class="facebook px-4"><span><i class="fa fa-facebook-square"></i>  </span><span><a href="{{ lesson.coach.facebook }}">{{ lesson.coach.facebook }}</a></span></div>
            {% endif %}
            {% if lesson.coach.email %}
                <div class="email px-4"><span><i class="fa fa-send"></i>  </span><span onclick="location.href='mailto:{{ lesson.coach.email }}'">{{ lesson.coach.email }}</span></div>
            {% endif %}
        </div>

        <hr>
        <div id="wrong_info" class="my-3">
            <div class="px-3" style="width: 100%;" data-toggle="modal" data-target="#wong_info">
                <button class="w-100 btn btn-light" style="border: 1px solid black;"><span><i class="fa fa-bell"></i></span> 잘못된 정보 신고하기</button>
            </div>
        </div>


        <div class="modal fade" id="wong_info" tabindex="-1" role="dialog" aria-labelledby="wong_info" aria-hidden="true">
            <form class="modal-dialog" method="post" id="wrong_info_form">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reviewTitle">잘못된 정보 신고하기</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="phone_num">답변 연락받을 전화번호</label>
                            <input class="form-control" type="text" name="phone_num" id="phone_num" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">내용</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <button type="submit" class="btn btn-success" id="wrong_info_button">신고하기</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block base_extra_script %}
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b6ed4d84c9a34763dcf92d3b6e590838"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script>
        $('#review_write_button').on('click', function () {
            $('#reviewModal').find('textarea').val('');
        });
        $('.review_delete').on('click', function () {
            var confirm = window.confirm('해당 댓글을 삭제하시겠습니까?');
            var Jthis = $(this);
            if(confirm) {
                var del_val = Jthis.parent().find('input').val()
                $.ajax({
                    method : "GET",
                    data: {
                        'type' : 'del',
                        'review_id' : del_val,
                        'user_id' : '{{ request.user.id }}'
                    }
                })
                alert('삭제되었습니다')
                location.reload();
            }
        });
        $('.review_update').on('click', function () {
            var Jthis = $(this);
            $('#reviewModal').find('textarea').val(Jthis.closest('.review_div').find('.review_content').html());
            $('input[name="submit_type"]').val(2);
            $('input[name="review_id"]').val(Jthis.val());
            $('#reviewModal').modal();
        });
        $('#review_form_button').click(function () {
            $('#review_form').submit()
        })
        $('#wrong_info_button').click(function () {
            $('#wrong_info_form').submit()
        })

        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            spaceBetween: 30,
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

        $('#main_search_button').on('click', function(){
            $('.class_info').css('z-index', '1');
            $('#share_button').css('z-index', '2');
        });
        $('#main_search_button_close').on('click', function(){
            $('.class_info').css('z-index', '');
            $('#share_button').css('z-index', '10000');
        });

        window.onscroll = function() {myFunction()};

        var navbar = document.getElementById("class_info");
        var swiper = document.getElementById("swiper");

        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky");
                navbar.classList.remove("class_info");
                swiper.classList.add("margin-container");
            } else {
                navbar.classList.add("class_info");
                navbar.classList.remove("sticky");
                swiper.classList.remove("margin-container");
            }
        }
        var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
        var options = { //지도를 생성할 때 필요한 기본 옵션
            center: new kakao.maps.LatLng({{ lesson.academy.lati }},{{ lesson.academy.long }}), //지도의 중심좌표.
            level: 3 //지도의 레벨(확대, 축소 정도)
        };
        var map = new kakao.maps.Map(container, options);
        var markerPosition  = new kakao.maps.LatLng({{ lesson.academy.lati }},{{ lesson.academy.long }});
        var marker = new kakao.maps.Marker({
            position: markerPosition
        });
        marker.setMap(map);

        $(document).on('click', 'a[href^="#"]', function (event) {
            event.preventDefault();
            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 500, 'swing');
        });
        function copyUrl() {
            var copyText = document.getElementById("myInput");
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            window.document.execCommand("copy");
            alert("주소가 복사되었습니다.");
        }
        $(document).ready(function () {
            var location = window.location;
            $('#myInput').val(location);
        });
        $('#heart-icon').on('click', function () {
            if ($(this).hasClass('fa-heart-o')) {
                $(this).removeClass('fa-heart-o');
                $(this).addClass('fa-heart');
                $.ajax({
                    method: "POST",
                    url: "{% url 'lesson_like' %}",
                    data: {
                        'lesson' : '{{ lesson.id }}',
                        'preference' : 'like',
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    }
                }).done(function () {
                    alert('관심목록에 추가 되었습니다.');
                });
            } else {
                $(this).addClass('fa-heart-o');
                $(this).removeClass('fa-heart');
                $.ajax({
                    method: "POST",
                    url: "{% url 'lesson_like' %}",
                    data: {
                        'lesson' : '{{ lesson.id }}',
                        'preference' : 'dislike',
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    }
                }).done(function () {
                    alert('관심목록에서 삭제 되었습니다.');
                });
            }
        })
        {% if request.user.is_authenticated and not request.user.profile %}
            alert('소셜 계정으로 가입하셔서 미기입된 정보가 있습니다.' +
                '추가 정보를 입력하여 주시기 바랍니다.');location.href="{% url 'profile_create' %}";
        {% endif %}
    </script>
{% endblock %}
