{% extends 'user/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% block base_extra_head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}
{% block maincontent %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <form class="card card-signin my-5" method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        <h5 class="card-title text-center">필수정보</h5>
                        <div class="form-signin">
                            <div class="form-label-group">
                                <input type="text" id="PhoneNum" class="form-control" placeholder="핸드폰 번호" name="phone" required
                                    value="{{ profile.phone }}">
                                <label for="PhoneNum">핸드폰 번호</label>
                            </div>
                            <div class="form-label-group">
                                <input type="text" id="name" class="form-control" placeholder="닉네임" name="name" required
                                    value="{{ profile.name }}">
                                <label for="name">닉네임 설정</label>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-6 col-md-6">
                                    <label for="Gender">성별</label>
                                    <select id="Gender" class="form-control" name="sex" value="{{ profile.sex }}">
                                        <option value="M">남자</option>
                                        <option value="W">여자</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-6 col-md-6">
                                    <label for="Birthday">생년월일</label>
                                    <div class="form-group date" id="Birthday">
                                        <div class='input-group date input-group-addon input-group-append' id='datetimepicker1' data-target="#datetimepicker1" data-toggle="datetimepickerv">
                                            <input name="birthday" type='date' class="form-control datetimepicker-input"
                                                placeholder="{{ profile.birthday|date:"Y-m-d" }}" value="{{ profile.birthday|date:"Y-m-d" }}" id="birthday"/>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div>
                                <input type="file" id="profile" class="form-control" name="image" placeholder="프로필 사진"
                                    value="{{ profile.image }}">
                                <label for="PhoneNum">프로필 사진(선택사항)</label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">등록하기</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        $(function () {
            $("#birthday").datetimepicker({
                language: 'kr',
            });
        });
    </script>

{% endblock %}