{% extends 'user/base.html' %}
{% load staticfiles %}
{% block base_extra_head %}
    <style>
        @media screen and (max-width: 766px) {
            .sports_lists{height: 150px !important;}
        }
        .sports_lists {background-color: #E2F0D9;}
        .sports_lists:hover {background-color: #A9D18E;}
    </style>
{% endblock %}
{% block maincontent %}
    <h4 class="mt-3 ml-5" style="font-weight: bold;">종목 전체보기</h4>
    <div class="row w-100 mx-0 px-5 pt-0 pb-2">
        {% for sport in sports %}
            <div class="card col-lg-4 col-md-6 col-sm-6 col-6 sports_lists">
                <div style="text-decoration: none; color: black;" class="sports_lists_button">
                    <input type="hidden" value="{{ sport.id }}">
                    <div class="card-body text-center">
                        <h4 style="font-weight: bold;">{{ sport.name }}</h4>
                    </div>
                    <div class="p-4">
{#                        <img src="{% static 'img/sport1.png' %}" class="card-img-top" alt="...">#}
                        {% if sport.icon %}
                        <img src="{{ sport.icon.url }}" class="card-img-top" alt="...">
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block base_extra_script %}
    <script>
        $('.sports_lists_button').on('click', function () {
            var sport = $(this).find('input').val()
            $.queue($('#hidden_sports_lists').val(sport)).queue($('#hidden_form').submit());
        })
    </script>
{% endblock %}