{% extends 'user/base.html' %}
{% load staticfiles %}
{% block base_extra_head %}

{% endblock %}
{% block maincontent %}
    <h4 class="mt-3 ml-5">종목 전체보기</h4>
    <div class="row w-100 mx-0 p-5">
        <div class="card col-lg-4 col-md-6 col-sm-6 col-6" style="height: 215px;">
            <div class="card-body text-center">
                <h4 style="font-weight: bold;">펜싱</h4>
            </div>
            <div class="p-4">
                <img src="{% static 'img/sport1.png' %}" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="card col-lg-4 col-md-6 col-sm-6 col-6" style="height: 215px;">
            <div class="card-body text-center">
                <h4 style="font-weight: bold;">펜싱</h4>
            </div>
            <div class="p-4">
                <img src="{% static 'img/sport1.png' %}" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="card col-lg-4 col-md-6 col-sm-6 col-6" style="height: 215px;">
            <div class="card-body text-center">
                <h4 style="font-weight: bold;">펜싱</h4>
            </div>
            <div class="p-4">
                <img src="{% static 'img/sport1.png' %}" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="card col-lg-4 col-md-6 col-sm-6 col-6" style="height: 215px;">
            <div class="card-body text-center">
                <h4 style="font-weight: bold;">펜싱</h4>
            </div>
            <div class="p-4">
                <img src="{% static 'img/sport1.png' %}" class="card-img-top" alt="...">
            </div>
        </div>
    </div>
{% endblock %}

{% block base_extra_script %}

{% endblock %}