# Created by .ignore support plugin (hsz.mobi)
venv/
.idea/
__pycache__
db.sqlite3
migrations/
envs.json
envs_dev.json
server.crt
server.key
local-ssl-server.py
dailympic/secrets.json
dailympic/settings/__init__.py
static_root/
core/tmp_views.py
core/templates/user/tmp_lesson_detail.html
media/
