{% extends 'user/bootstrap.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block bootstrap4_extra_head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap&subset=korean" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css">
    <link rel="icon" href="{% static 'img/dailympic_logo_small.png' %}" type="image/x-icon" />
    <style>
        {% block title %}{% block basetitle %}{% endblock %}{% endblock %}
        body {font-family: 'Nanum Gothic', sans-serif !important;}
        .nav li a {font-weight: bold;}
        #main_content {min-height: 56vh;}
        @media screen and (max-width: 766px) {
            nav a.navbar-brand{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
            #main_content {
                min-height: 35vh;
            }
        }
        .search-container {	position: absolute; left: 0; top: 0; width: 100%; height: 100vh; background-color: rgba( 255, 255, 255, 0.9 ); z-index: 1000;}
    </style>
    {% block base_extra_head %}
    {% endblock %}
{% endblock %}

{% block bootstrap4_before_content %}
    <nav class="navbar navbar-light navbar-expand-md better-bootstrap-nav-left">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}"><img style="width: 150px;" src="{% static 'img/dailympic_logo.png' %}" alt=""></a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1" style="border: none;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                 id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    {% if request.user.is_authencitated %}
                        <li class="nav-item d-block d-sm-none" role="presentation"><span class="nav-link">안녕하세요 {{ request.user.profile.name }} 님</span></li>
                    {% endif %}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'lesson_list' %}">레슨</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/community/notice">공지사항</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/community/FAQ">자주 묻는 질문</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/community/customer">고객센터</a></li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    {% if not request.user.is_authenticated %}
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'login' %}">로그인</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'user/create' %}">회원가입</a></li>
                    {% else %}
                        <li class="nav-item d-none d-md-block" role="presentation"><span class="nav-link">안녕하세요 {{ request.user.profile.name }} 님</span></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'liked_lesson_list' %}">관심목록</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'logout' %}">로그아웃</a></li>
                    {% endif %}
                </ul>
            </div>
            <i class="fa fa-search d-block d-md-none" style="cursor: pointer;" id="main_search_button"></i>
        </div>
    </nav>
    <div class="search-container" style="display: none;">
        <div class="search-box text-center w-100 px-2 d-flex">
            <i style="font-size: 33px;" class="fa fa-angle-left mt-2 mr-2" id="main_search_button_close"></i>
            <input type="text" class="w-100 form-control" style="margin-top: 10px;" value="" id="search_bar_input" placeholder="지역, 종목 등을 검색하세요"/>
            <button type="button" class="fa fa-search d-block d-md-none ml-1" id="search_button" style="margin-top: 5px; font-size: 30px; border: none; background-color: rgba(255,255,255,0);"></button>
        </div>
    </div>
{% endblock %}
{% block bootstrap4_content %}
    <div id="main_content" class="px-3" style=" max-width: 1200px; margin: 0 auto;">
        {% block content %}
        {% endblock %}
        <div class="fixed-bottom w-100 text-center pb-5">
            <a href="kakaoplus://plusfriend/home/{데일림픽}" id="kakao-talk-channel-chat-button"></a>
{#            <h4 id="inquiry" class="p-2" style="cursor: pointer; display: inline-block; background-color: #699A3C; color: white; font-weight: bold;">문의하기</h4>#}
        </div>
    </div>
{% endblock %}
{% block bootstrap4_after_content %}
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">이용약관</a></li>
                            <li><a href="#">개인정보 처리방침</a></li>
                            <li><a href="javascript:void chatChannel()">개인 문의</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Dailympic Teams</a></li>
                            <li><a href="/community/FAQ">FAQ/자주하는 질문</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Dailympic</h3>
                        <p>데일림픽 어쩌구 저쩌구</p>
                    </div>
                    <div class="col item social">
                        <a href="//www.facebook.com/dailympic"><i class="icon ion-social-facebook"></i></a>
                        <a onclick="location.href='mailto:dailympic@gmail.com'"><i class="icon ion-ios-email-outline"></i></a>
                        <a onclick="location.href='tel:0507-1328-4969'"><i class="fa fa-phone"></i></a>
                        <a href="//www.instagram.com/dailympic"><i class="icon ion-social-instagram-outline"></i></a>
                    </div>
                </div>
                <p class="copyright">Dailympic © 2020</p>
            </div>
        </footer>
    </div>
    <form action="{% url 'lesson_list' %}" method="get" id="hidden_form" name="filter_info">
        <input type="hidden" name="region" value="" id="hidden_region">
        <input type="hidden" name="type" value="" id="hidden_type">
        <input type="hidden" name="order" value="" id="hidden_order">
        <input type="hidden" name="is_search" value="" id="hidden_is_search">
        <input type="hidden" name="keyword" value="" id="hidden_keyword">
        <input type="hidden" name="week_frequency" value="" id="hidden_week_frequency">
        <input type="hidden" name="sport" value="" id="hidden_sports_lists">
    </form>
{% endblock %}

{% block bootstrap4_extra_script %}
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#main_search_button').on('click', function(){
                $('.search-container').fadeIn(500);
            });
            $('#main_search_button_close').on('click', function(){
                $('.search-container').fadeOut(500);
            });
            $("#search_button").on('click', function () {
                var keywords = $('#search_bar_input').val().trim();
                $('#hidden_is_search').val(true);
                $('#hidden_keyword').val(keywords);
                $('#hidden_form').submit();
            });
            $("#search_bar_input").on('keydown', function (key) {
                if (key.keyCode == 13) {
                    var keywords = $('#search_bar_input').val().trim();
                    $('#hidden_is_search').val(true);
                    $('#hidden_keyword').val(keywords);
                    $('#hidden_form').submit();
                }
            });
            Kakao.init('5248321500b186772dfa8d504b679f24');
            Kakao.Channel.createChatButton({
                container: '#kakao-talk-channel-chat-button',
                channelPublicId: '_xkQLMxb'
            });
            function chatChannel() {
                Kakao.Channel.chat({
                    channelPublicId: '_xkQLMxb'
                });
            }
        });
    </script>
    {% block base_extra_script %}
    {% endblock %}
{% endblock %}